body {font-family: "Roboto", sans-serif;
background-color: #fff;
color: #434455;
}
nav, h2, h3 {color: #2e2f42;}
a {text-decoration: none;}
ul {list-style-type: none;}

/* #region Header */

/* #endregion */

/* #region Hero */
/* #endregion */

/* #region Section 1 */
/* #endregion */

/* #region Section 2 */
/* #endregion */

/* #region Section 3 */
/* #endregion */

/* #region Footer */
/* #endregion */

